<!-- app/templates/application.hbs -->

<ul>
    {{#each model as |dreadfulThing|}}
        <li>{{dreadfulThing.title}} - {{dreadfulThing.description}} ({{dreadfulThing.infectious}})</li>
    {{/each}}
</ul>